@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* Use the new soft background colors by default */
  @apply bg-background-light text-slate-700; 
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Dark Mode Overrides */
@media (prefers-color-scheme: dark) {
  body {
    @apply bg-background-dark text-slate-200;
  }
}

/* Hide scrollbars for cleaner UI */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}